git-demo/src/main/mule/git-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="94983e5f-dab6-44a9-90b1-d0abc536d6ef" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-demoFlow" doc:id="7b606144-8a17-4caf-ac02-52ef97724034" >
		<http:listener doc:name="Listener" doc:id="83c4284d-84de-4f23-8d76-174f35e4f98a" config-ref="HTTP_Listener_config" path="git"/>
		<logger level="INFO" doc:name="Logger" doc:id="cc337c21-20e7-4dde-8908-3932f02331e8" message="#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;	application:app.name,&#10;	flow:flow.name&#10;}]"/>
	</flow>
</mule>
